.main_div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CreatePost {
  margin-top: 10px;
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  gap: 20px;
}

.left-part {
  display: flex;
  height: 6.2rem;

}

.right-part {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.captionInput {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
}


.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.post-img {
  max-width: 80%;
  max-height: 200px;
  border-radius: 8px;
}

.bottom-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.InputImg {
  display: none;
}

.Icons {
  font-size: 1.5rem;
}

.input-post-img {
  border: none;
  border: 2px solid rgb(255, 255, 255);
}

/* Post button primary style */
.post-btn-primary {
  background-color: #6a0dad;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post-btn-primary:hover {
  background-color: #9100d4;
}