.Follower {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px 5px;
}

.FollowerProfile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.FollowerBTN {
  padding: 10px 10px;
  background-color: rgb(48, 48, 195);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.UnFollow {
  padding: 10px 10px;
  background-color: transparent;
  color: rgb(42, 14, 184);
  font-weight: bold;
  border-radius: 0.5rem;
}

.FollowerBTN:hover {
  background-color: rgb(121, 121, 206);
}